*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "MS PGothic", "Osaka", arial, helvetica, clean, sans-serif;
    font-size: 14px;
    line-height: 21px
}

ul,ol {
    list-style: none
}

p,select,input,input[type=text],label,ul,ol {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333;
    margin: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333
}

input[type=text],input[type=email],input[type=password],input[type=number] {
    height: 26px
}

input[type="radio"] {
    margin: 5px
}

.mf-check {
    cursor: pointer;
    padding-left: 20px;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.mf-check-input {
    display: none
}

.mf-check-icon {
    left: 0;
    position: absolute;
    top: 0
}

.mf-check-icon::before {
    border: 3px solid #0f7f30;
    border-right-style: none;
    border-top-style: none;
    content: '';
    display: inline-block;
    height: 10px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: .2s;
    transition: .2s;
    width: 15px
}

.mf-check-icon::after {
    border: 1px solid #c8c7cc;
    content: '';
    display: inline-block;
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: .2s;
    transition: .2s;
    width: 15px
}

.mf-check-input:checked ~ .mf-check-icon:before {
    opacity: 1;
    top: -1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.mf-check-input:checked ~ .mf-check-icon:after {
    opacity: 0
}

.mf-radio {
    cursor: pointer;
    padding-left: 24px;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%
}

.mf-radio-input {
    display: none
}

.mf-radio-input:checked ~ .mf-radio-icon::after {
    border: 2px solid #1246b4
}

.mf-radio-input:checked ~ .mf-radio-icon::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.mf-radio-input:checked ~ .mf-radio-ripple {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: mf-radio-ripple-circle;
    animation-name: mf-radio-ripple-circle;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease
}

.mf-radio-icon::after {
    border: 1px solid #c8c7cc;
    border-radius: 50%;
    box-sizing: border-box;
    content: '';
    cursor: pointer;
    display: inline-block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
    z-index: 2
}

.mf-radio-icon::before {
    background-color: #1246b4;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 8px;
    left: 4px;
    position: absolute;
    top: 4px;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    width: 8px;
    z-index: 1
}

.mf-radio-ripple {
    background-color: #1246b4;
    border-radius: 50%;
    height: 42px;
    left: -13px;
    opacity: .2;
    pointer-events: none;
    position: absolute;
    top: -13px;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    width: 42px
}

@-webkit-keyframes mf-radio-ripple-circle {
    0% {
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes mf-radio-ripple-circle {
    0% {
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.mf-textarea {
    border: 0;
    outline: none;
    resize: vertical;
    width: 100%
}

.mf-textfield {
    position: relative;
    width: 100%
}

.mf-textfield-bar {
    bottom: -4px;
    position: absolute;
    width: 100%
}

.mf-textfield-bar:before {
    background-color: #c8c7cc;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    width: 100%
}

.mf-textfield-bar:after {
    background-color: #1246b4;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    width: 100%
}

.mf-textarea:focus ~ .mf-textfield-bar:after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

.mf-notice {
    border-radius: 2px;
    padding: 16px
}

.mf-notice.notice-item {
    display: inline-block
}

.mf-notice.notice-warn {
    background-color: #faeff0;
    border: 1px solid #d04e4e
}

.mf-notice.notice-info {
    background-color: #faf6f0;
    border: 1px solid #c8c7cc
}

.mf-notice-heading.heading-warn {
    color: #d04e4e
}

.mf-notice-heading.heading-info {
    color: #3d4248
}

.mf-notice-heading.heading-bold {
    font-weight: bold
}

.mf-notice-heading.heading-center {
    text-align: center
}

.pfm-main-contents {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%
}

.pfm-multi-columns:after {
    clear: both;
    content: '';
    display: table
}

.pfm-multi-columns .pfm-main-column {
    float: left
}

.pfm-multi-columns .pfm-right-column {
    float: right;
    min-width: 300px;
    width: 20%
}

@media (max-width: 600px) {
    .pfm-multi-columns .pfm-right-column {
        display:none
    }
}

.pfm-header#header-container .nav-horizontal {
    margin: 15px 0 10px
}

.pfm-header .nav-horizontal {
    font-size: 13px
}

.pfm-subnav .nav-item {
    position: relative;
    font-size: 13px
}

.pfm-cover-image-without-text {
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    background-size: cover
}

.pfm-cover-image-with-text {
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    background-size: contain
}

.mf-ios-footer-menu {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #f4f4f4;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 52px;
    margin: auto;
    max-width: 768px;
    position: fixed;
    width: 100%
}

.mf-ios-footer-menu-link {
    outline: none;
    -webkit-tap-highlight-color: transparent
}

.mf-ios-footer-menu-link-btn {
    display: inline-block;
    margin: 0 20px;
    width: 26px
}

.mf-ios-footer-menu-link-btn:hover {
    opacity: .6
}

.mf-ios-footer-menu-link-btn:focus {
    opacity: .6
}

.mf-ios-footer-menu-link-btn:active {
    opacity: .6
}

.fw5 {
    font-weight: 500
}

.fw6 {
    font-weight: 600
}

.mf-is-none {
    display: none
}

@media screen and (min-width: 600px) {
    .mf-is-visible-on-sp {
        display:none;
        pointer-events: none
    }
}

@media screen and (min-width: 768px) {
    .mf-is-visible-on-tablet {
        display:none;
        pointer-events: none
    }
}

.mf-is-visible-on-pc {
    display: none;
    pointer-events: none
}

@media screen and (min-width: 1200px) {
    .mf-is-visible-on-pc {
        display:block;
        pointer-events: auto
    }

    .mf-is-visible-on-pc.block {
        display: block
    }

    .mf-is-visible-on-pc.inline {
        display: inline
    }

    .mf-is-visible-on-pc.inline-block {
        display: inline-block
    }

    .mf-is-visible-on-pc.flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex
    }

    .mf-is-visible-on-pc.table-cell {
        display: table-cell
    }
}

.is-visible-on-print {
    display: none
}

@media print {
    .is-visible-on-print.block {
        display: block
    }

    .is-visible-on-print.inline {
        display: inline
    }

    .is-visible-on-print.inline-block {
        display: inline-block
    }

    .is-visible-on-print.flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex
    }

    .is-visible-on-print.table-cell {
        display: table-cell
    }
}

.mf-wrap-on-sp {
    display: block
}

@media screen and (min-width: 600px) {
    .mf-wrap-on-sp {
        display:inline
    }
}

.form-container:after {
    clear: both;
    content: '';
    display: table
}

.form-container .form-label {
    float: left;
    height: 2em;
    margin: 8px 0;
    text-align: center;
    width: 30%
}

.form-container .form-input {
    float: left;
    margin: 8px 0;
    width: 70%
}

.form-container .form-input input {
    border-radius: 2px;
    font-size: 14px;
    height: 2em;
    width: 100%
}

@media (max-width: 1200px) and (min-width: 600px), (max-width: 600px) {
    .form-container .form-label {
        float:none;
        height: auto;
        text-align: left;
        width: auto
    }

    .form-container .form-input {
        float: none;
        width: auto
    }
}

.pretty-checkbox {
    display: table;
    font-size: 12px;
    padding-left: 30px;
    text-align: left;
    vertical-align: middle
}

.pretty-checkbox .checkbox,.pretty-checkbox .text {
    display: table-cell;
    height: 40px;
    vertical-align: middle
}

.pretty-checkbox [type=checkbox] {
    visibility: hidden
}

.pretty-checkbox [type=checkbox]:checked+.checkbox-border .icon-ok {
    font-size: 14px;
    vertical-align: 3px;
    visibility: visible;
    width: 1px
}

.pretty-checkbox .checkbox-border {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #c8c7cc;
    color: #fe9626;
    display: inline-block;
    height: 15px;
    margin: 0 10px 0 -30px;
    vertical-align: -3px;
    width: 15px
}

.pretty-checkbox .checkbox-border i {
    visibility: hidden
}

.radio-options-horizontal {
    display: inline-block;
    margin-right: 21px
}

.checkbox-container {
    font-size: 14px;
    line-height: 14px
}

.checkbox-container .checkbox {
    margin: 0 5px 0 0;
    vertical-align: 1px
}

.checkbox-vertical {
    margin: 7px 0
}

.btn {
    display: inline-block
}

.btn.btn-flat {
    border: 0;
    box-shadow: none
}

.btn.btn-w150 {
    font-size: 12px;
    padding: 5px 0;
    width: 150px
}

.btn.btn-w200 {
    font-size: 15px;
    padding: 13px 0;
    width: 200px
}

.btn.btn-w300 {
    font-size: 17px;
    padding: 21px 0;
    width: 300px
}

.btn.btn-w320 {
    font-size: 22px;
    padding: 20px 0;
    width: 320px
}

.btn.btn-primary {
    background: -webkit-gradient(linear, left top, left bottom, from(#f18826), to(#e2750f));
    background-color: #e97e1a;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    color: #fff;
    text-shadow: none
}

.btn.btn-success {
    background-color: #51a351;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    color: #fff;
    text-shadow: none
}

.btn.btn-alert {
    background-color: #c9302c;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    color: #fff;
    text-shadow: none
}

.btn:hover {
    filter: alpha(opacity=70);
    opacity: .7
}

.command {
    margin: 13px 0;
    text-align: center
}

.command .sub-commands {
    margin: 13px 0
}

.command .sub-command {
    line-height: 200%
}

.nav-flow {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #eee;
    display: inline-block;
    font-size: 110%;
    font-weight: bold;
    height: 38px;
    margin-left: 20px;
    position: relative;
    text-align: center;
    width: 30%
}

.nav-flow span {
    line-height: 38px
}

.nav-flow.arrow:after {
    border-color: rgba(238,238,238,0) rgba(238,238,238,0) rgba(238,238,238,0) #eee;
    border-style: solid;
    border-width: 19px 0 19px 19px;
    content: ' ';
    height: 0;
    left: 100%;
    position: absolute;
    top: 0;
    width: 0
}

.nav-flow.box {
    border-radius: 3px
}

.nav-flow:first-child {
    margin-left: 0
}

.nav-flow.is-active {
    background-color: #ed7f2c;
    color: #fff
}

.nav-flow.is-active:after {
    border-color: rgba(237,127,44,0) rgba(237,127,44,0) rgba(237,127,44,0) #ed7f2c
}

.nav-horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.pfm-sheet-table {
    border: 1px solid #c8c7cc;
    border-collapse: collapse;
    border-radius: 0;
    line-height: 130%
}

.pfm-sheet-table.borderless {
    border: none
}

.pfm-sheet-table th {
    background-color: #f3f5f7;
    font-size: 90%;
    font-weight: bold;
    line-height: 130%;
    padding: 10px;
    text-align: center;
    vertical-align: middle
}

.pfm-sheet-table th a {
    color: #4c94e1;
    padding-left: 3px;
    text-decoration: underline
}

.pfm-sheet-table td {
    padding: 10px;
    text-align: left
}

.pfm-sheet-table td.number {
    text-align: right
}

.uikit-year-month-select-dropdown {
    font-family: HiraKakuProN, HiraKakuPro, "Hiragino Kaku Gothic Pro", ‘游ゴシック’, YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "Meiryo", "メイリオ", "MS PGothic", "Osaka", arial, helvetica, clean, sans-serif;
    background-color: #f6f6f6;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1
}

.uikit-year-month-select-dropdown-text {
    color: #3d4248;
    display: inline-block;
    font-size: 14px;
    margin: 0 8px;
    padding: 5px 0;
    vertical-align: middle
}

.uikit-year-month-select-dropdown-icon {
    color: #c8c7cc;
    display: inline-block;
    font-size: 24px;
    line-height: 0;
    margin: 0 8px
}

.uikit-year-month-select-dropdown-block {
    background-color: #f6f6f6
}

.uikit-year-month-select-dropdown-year-part {
    color: #4c94e1;
    font-size: 14px;
    padding: 2px 0;
    position: relative;
    -webkit-transition: .4s;
    transition: .4s
}

.uikit-year-month-select-dropdown-year-part:hover {
    background-color: #fe9626;
    color: #fff;
    text-decoration: none
}

.uikit-year-month-select-dropdown-year-part:hover .uikit-year-month-select-dropdown-month-part {
    display: block;
    opacity: 1;
    pointer-events: auto
}

.uikit-year-month-select-dropdown-month-part {
    background-color: #fff;
    border: solid 1px #d1d1d6;
    display: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -80px;
    top: 0;
    width: 80px
}

.uikit-year-month-select-dropdown-link {
    background-color: #f6f6f6;
    color: #4c94e1;
    cursor: pointer;
    display: block;
    font-size: 14px;
    padding: 2px 0;
    -webkit-transition: .4s;
    transition: .4s
}

.uikit-year-month-select-dropdown-link:hover {
    background-color: #fe9626;
    color: #fff;
    text-decoration: none
}

.mf-uikit-contact-background {
    background-color: #f3f5f7;
    padding: 80px 0
}

.mf-uikit-contact {
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background-color: #fff;
    margin: 0 auto
}

.mf-uikit-contact.width-tablet-l {
    max-width: 768px;
    width: 100%
}

.mf-uikit-contact.width-pcweb-s {
    max-width: 994px;
    width: 100%
}

.mf-uikit-contact.mb-large {
    margin-bottom: 80px
}

.mf-uikit-contact-heading {
    color: #fe9626;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    padding: 26px 0 0 16px;
    position: relative;
    text-align: center
}

@media screen and (min-width: 994px) {
    .mf-uikit-contact-heading {
        text-align:left
    }
}

.mf-uikit-contact-heading::before {
    background-color: #fe9626;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.mf-uikit-contact-form.form-padding {
    padding: 16px
}

.mf-uikit-contact-form-head {
    color: #6d778a;
    font-size: 14px;
    font-weight: 600
}

.mf-uikit-contact-form-head.text-small {
    font-size: 12px
}

.mf-uikit-contact-form-head.bordered {
    border-bottom: 1px solid #c8c7cc
}

.mf-uikit-contact-form-item.mf-mr15 {
    margin-right: 15px
}

.mf-uikit-contact-form-item.btn-container {
    text-align: center
}

@media screen and (min-width: 994px) {
    .mf-uikit-contact-form-item.btn-container {
        text-align:left
    }
}

.mf-uikit-contact-help {
    background-color: #f3f5f7;
    border: 1px solid #c8c7cc;
    padding: 16px
}

.mf-uikit-contact-form-input {
    min-height: 200px;
    width: 100%
}

.mf-uikit-contact-form-text {
    word-break: break-all
}

.mf-uikit-contact-list-item {
    list-style: disc
}

.header {
    margin: 10px 0
}

.header .header-title {
    border-bottom: 1px solid #fe9626;
    font-size: 17px;
    line-height: 30px;
    margin: 5px 0
}

.header .header-sub-title {
    border-left: 2px solid #fe9626;
    font-size: 15px;
    padding-left: 10px
}

.cover-image-contents {
    width: 100%
}

.decorate-title {
    text-align: center
}

.decorate-title .decorate-title-image {
    display: inline-block;
    height: 22px;
    width: 15px
}

@media (max-width: 600px) {
    .decorate-title .decorate-title-image {
        display:none
    }
}

.decorate-title .title {
    display: inline-block;
    font-size: 20px
}

@media (max-width: 600px) {
    .decorate-title .title {
        font-size:12px
    }
}

.section {
    padding: 50px 0;
    text-align: center
}

.section-gray {
    background: #f6f6f6;
    padding: 50px 0;
    text-align: center
}

.section-header .header-title {
    font-size: 30px;
    line-height: 28px;
    color: #333
}

.small-section-header .header-title {
    font-size: 20px;
    line-height: 19px
}

.fruid-box {
    display: inline-block;
    text-align: center
}

.fruid-box:after {
    clear: both;
    content: '';
    display: table
}

.fruid-box li {
    display: inline-block;
    float: left
}

.image-container {
    display: inline-block
}

.fit-width {
    width: 100%
}

.fit-height {
    height: 100%
}

.msg-warning {
    background-color: #fde5db;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    padding: 7px
}

.list-normal {
    font-size: 13px;
    list-style: disc;
    list-style-position: inside;
    margin: 15px 10px
}

.panel-information {
    background-color: #fffde0;
    border-radius: 5px;
    padding: 7px 11px;
    margin: 7px
}

.mf-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.mf-flex.flex-x-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.mf-flex.flex-x-space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.mf-flex.flex-x-space-around {
    -webkit-justify-content: space-around;
    justify-content: space-around
}

.mf-flex.flex-x-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.mf-flex.flex-y-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.mf-flex.flex-y-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
}

.mf-flex.flex-y-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end
}

.mf-flex.flex-y-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline
}

.mf-flex.flex-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.mf-flex.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row
}

.mf-flex.flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
}

@media screen and (min-width: 600px) {
    .mf-flex.flex-col.flex-row-on-tab {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        flex-direction: row
    }
}

@media screen and (min-width: 1200px) {
    .mf-flex.flex-col.flex-row-on-pc {
        -webkit-box-orient:horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        flex-direction: row
    }
}

.mf-container.container-center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.mf-container.container-left {
    display: block;
    margin-left: 0;
    margin-right: auto
}

.mf-container.container-right {
    display: block;
    margin-left: auto;
    margin-right: 0
}

.mf-container.content-left {
    text-align: left
}

.mf-container.content-center {
    text-align: center
}

.mf-container.content-right {
    text-align: right
}

.mf-container.pc-s-width {
    width: 994px
}

.mf-container.pc-width {
    width: 1200px
}

.mf-text-xs {
    font-size: 12px
}

@media screen and (min-width: 600px) {
    .mf-text-xs.text-tab14-pc16 {
        font-size:14px
    }
}

@media screen and (min-width: 1200px) {
    .mf-text-xs.text-tab14-pc16 {
        font-size:16px
    }
}

@media screen and (min-width: 600px) {
    .mf-text-xs.text-tab16-pc18 {
        font-size:16px
    }
}

@media screen and (min-width: 1200px) {
    .mf-text-xs.text-tab16-pc18 {
        font-size:18px
    }
}

@media screen and (min-width: 600px) {
    .mf-text-xs.text-tab18-pc20 {
        font-size:18px
    }
}

@media screen and (min-width: 1200px) {
    .mf-text-xs.text-tab18-pc20 {
        font-size:20px
    }
}

.mf-text-s {
    font-size: 14px
}

.mf-text-m {
    font-size: 16px
}

.mf-text-l {
    font-size: 18px
}

.mf-text-xl {
    font-size: 20px
}

.mf-text-bold {
    font-weight: 600
}

.mf-text-default {
    color: #3d4248
}

.mf-text-grey {
    color: #9299a3
}

.mf-text-light-grey {
    color: #d1d1d6
}

.mf-text-info {
    color: #4c94e1
}

.mf-text-alert {
    color: #d04e4e
}

.mf-text-success {
    color: #169d3d
}

.mf-text-warn {
    color: #fd9441
}

.mf-text-panel {
    color: #6d778a
}

.mf-text-wrap:after {
    content: '';
    display: block
}

@media screen and (min-width: 600px) {
    .mf-text-wrap.wrap-break-on-tab:after {
        content:'';
        display: inline
    }
}

@media screen and (min-width: 1200px) {
    .mf-text-wrap.wrap-break-on-pc:after {
        content:'';
        display: inline
    }
}

@media screen and (min-width: 600px) {
    .mf-text-nowrap.nowrap-break-on-tab:after {
        content:'';
        display: block
    }
}

@media screen and (min-width: 1200px) {
    .mf-text-nowrap.nowrap-break-on-pc:after {
        content:'';
        display: block
    }
}

.mf-text-left {
    text-align: left
}

@media screen and (min-width: 600px) {
    .mf-text-left.text-center-on-tab {
        text-align:center
    }
}

.mf-text-center {
    text-align: center
}

.mf-text-right {
    text-align: right
}

.mf-text-middle-align {
    vertical-align: middle
}

.application-invitee {
    font-weight: 800;
    color: #e2750f
}

.mf-mb0 {
    margin-bottom: 0px
}

.mf-mb5 {
    margin-bottom: 5px
}

.mf-mb10 {
    margin-bottom: 10px
}

.mf-mb15 {
    margin-bottom: 15px
}

.mf-mb20 {
    margin-bottom: 20px
}

.mf-mb25 {
    margin-bottom: 25px
}

.mf-mb30 {
    margin-bottom: 30px
}

.mf-mb35 {
    margin-bottom: 35px
}

.mf-mb40 {
    margin-bottom: 40px
}

.mf-mb45 {
    margin-bottom: 45px
}

.mf-mb50 {
    margin-bottom: 50px
}

.mf-mb55 {
    margin-bottom: 55px
}

.mf-mb60 {
    margin-bottom: 60px
}

.mf-ml0 {
    margin-left: 0px
}

.mf-ml5 {
    margin-left: 5px
}

.mf-ml10 {
    margin-left: 10px
}

.mf-ml15 {
    margin-left: 15px
}

.mf-ml20 {
    margin-left: 20px
}

.mf-ml25 {
    margin-left: 25px
}

.mf-ml30 {
    margin-left: 30px
}

.mf-mr0 {
    margin-right: 0px
}

.mf-mr5 {
    margin-right: 5px
}

.mf-mr10 {
    margin-right: 10px
}

.mf-mr15 {
    margin-right: 15px
}

.mf-mr20 {
    margin-right: 20px
}

.mf-mr25 {
    margin-right: 25px
}

.mf-mr30 {
    margin-right: 30px
}

.mf-mx0 {
    margin-left: 0px;
    margin-right: 0px
}

.mf-mx5 {
    margin-left: 5px;
    margin-right: 5px
}

.mf-mx10 {
    margin-left: 10px;
    margin-right: 10px
}

.mf-mx15 {
    margin-left: 15px;
    margin-right: 15px
}

.mf-mx20 {
    margin-left: 20px;
    margin-right: 20px
}

.mf-mx25 {
    margin-left: 25px;
    margin-right: 25px
}

.mf-mx30 {
    margin-left: 30px;
    margin-right: 30px
}

.mf-mx35 {
    margin-left: 35px;
    margin-right: 35px
}

.mf-mx40 {
    margin-left: 40px;
    margin-right: 40px
}

.mf-mx45 {
    margin-left: 45px;
    margin-right: 45px
}

.mf-mx50 {
    margin-left: 50px;
    margin-right: 50px
}

.mf-mx55 {
    margin-left: 55px;
    margin-right: 55px
}

.mf-mx60 {
    margin-left: 60px;
    margin-right: 60px
}

.mf-mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mf-ma0 {
    margin: 0px
}

.mf-ma5 {
    margin: 5px
}

.mf-ma10 {
    margin: 10px
}

.mf-ma15 {
    margin: 15px
}

.mf-ma20 {
    margin: 20px
}

.mf-ma25 {
    margin: 25px
}

.mf-ma30 {
    margin: 30px
}

.mf-ma35 {
    margin: 35px
}

.mf-ma40 {
    margin: 40px
}

.mf-ma45 {
    margin: 45px
}

.mf-ma50 {
    margin: 50px
}

.mf-ma55 {
    margin: 55px
}

.mf-ma60 {
    margin: 60px
}

.mf-px0 {
    padding-left: 0px;
    padding-right: 0px
}

.mf-px5 {
    padding-left: 5px;
    padding-right: 5px
}

.mf-px10 {
    padding-left: 10px;
    padding-right: 10px
}

.mf-px15 {
    padding-left: 15px;
    padding-right: 15px
}

.mf-px20 {
    padding-left: 20px;
    padding-right: 20px
}

.mf-px25 {
    padding-left: 25px;
    padding-right: 25px
}

.mf-px30 {
    padding-left: 30px;
    padding-right: 30px
}

.mf-px35 {
    padding-left: 35px;
    padding-right: 35px
}

.mf-px40 {
    padding-left: 40px;
    padding-right: 40px
}

.mf-px45 {
    padding-left: 45px;
    padding-right: 45px
}

.mf-px50 {
    padding-left: 50px;
    padding-right: 50px
}

.mf-px55 {
    padding-left: 55px;
    padding-right: 55px
}

.mf-px60 {
    padding-left: 60px;
    padding-right: 60px
}

.mf-py0 {
    padding-bottom: 0px;
    padding-top: 0px
}

.mf-py5 {
    padding-bottom: 5px;
    padding-top: 5px
}

.mf-py10 {
    padding-bottom: 10px;
    padding-top: 10px
}

.mf-py15 {
    padding-bottom: 15px;
    padding-top: 15px
}

.mf-py20 {
    padding-bottom: 20px;
    padding-top: 20px
}

.mf-py25 {
    padding-bottom: 25px;
    padding-top: 25px
}

.mf-py30 {
    padding-bottom: 30px;
    padding-top: 30px
}

.mf-py35 {
    padding-bottom: 35px;
    padding-top: 35px
}

.mf-py40 {
    padding-bottom: 40px;
    padding-top: 40px
}

.mf-py45 {
    padding-bottom: 45px;
    padding-top: 45px
}

.mf-py50 {
    padding-bottom: 50px;
    padding-top: 50px
}

.mf-py55 {
    padding-bottom: 55px;
    padding-top: 55px
}

.mf-py60 {
    padding-bottom: 60px;
    padding-top: 60px
}

.mf-pa0 {
    padding: 0px
}

.mf-pa5 {
    padding: 5px
}

.mf-pa10 {
    padding: 10px
}

.mf-pa15 {
    padding: 15px
}

.mf-pa20 {
    padding: 20px
}

.mf-pa25 {
    padding: 25px
}

.mf-pa30 {
    padding: 30px
}

.mf-pa35 {
    padding: 35px
}

.mf-pa40 {
    padding: 40px
}

.mf-pa45 {
    padding: 45px
}

.mf-pa50 {
    padding: 50px
}

.mf-pa55 {
    padding: 55px
}

.mf-pa60 {
    padding: 60px
}

.mf-btn {
    border: 0;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.mf-btn.btn-xs {
    font-size: 14px;
    padding: 4px 6px
}

.mf-btn.btn-s {
    font-size: 14px;
    padding: 8px 12px
}

.mf-btn.btn-m {
    font-size: 14px;
    padding: 14px 60px
}

.mf-btn.btn-l {
    font-size: 20px;
    padding: 14px 48px
}

.mf-btn.btn-xl {
    font-size: 28px;
    padding: 16px 60px
}

.mf-btn.btn-primary {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f18826), to(#e2750f));
    background-image: -webkit-linear-gradient(top, #f18826, #e2750f);
    background-image: linear-gradient(to bottom, #f18826, #e2750f)
}

.mf-btn.btn-primary:hover {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-primary:focus {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-primary:active {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-primary-ghost {
    background-color: transparent;
    border: solid 1px #e2750f;
    color: #e2750f;
    -webkit-transition: .3s;
    transition: .3s
}

.mf-btn.btn-primary-ghost:hover {
    background-color: #e2750f;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-primary-ghost:focus {
    background-color: #e2750f;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-primary-ghost:active {
    background-color: #e2750f;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-disabled {
    background-color: #d2d4d6;
    color: #3d4248;
    cursor: auto;
    opacity: .5
}

.mf-btn.btn-disabled-ghost {
    background-color: transparent;
    border: 1px solid #d2d4d6;
    color: #d2d4d6;
    cursor: auto;
    opacity: .5
}

.mf-btn.btn-success {
    background-color: #169d3d
}

.mf-btn.btn-success:hover {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-success:focus {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-success:active {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-success-ghost {
    background-color: transparent;
    border: solid 1px #169d3d;
    color: #169d3d;
    -webkit-transition: .3s;
    transition: .3s
}

.mf-btn.btn-success-ghost:hover {
    background-color: #169d3d;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-success-ghost:focus {
    background-color: #169d3d;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-success-ghost:active {
    background-color: #169d3d;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-info {
    background-color: #2eaad9
}

.mf-btn.btn-info:hover {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-info:focus {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-info:active {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-info-ghost {
    background-color: transparent;
    border: solid 1px #2eaad9;
    color: #2eaad9;
    -webkit-transition: .3s;
    transition: .3s
}

.mf-btn.btn-info-ghost:hover {
    background-color: #2eaad9;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-info-ghost:focus {
    background-color: #2eaad9;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-info-ghost:active {
    background-color: #2eaad9;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-warn {
    background-color: #fbb44c
}

.mf-btn.btn-warn:hover {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-warn:focus {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-warn:active {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-warn-ghost {
    background-color: transparent;
    border: solid 1px #fbb44c;
    color: #fbb44c;
    -webkit-transition: .3s;
    transition: .3s
}

.mf-btn.btn-warn-ghost:hover {
    background-color: #fbb44c;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-warn-ghost:focus {
    background-color: #fbb44c;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-warn-ghost:active {
    background-color: #fbb44c;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-danger {
    background-color: #d04e4e
}

.mf-btn.btn-danger:hover {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-danger:focus {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-danger:active {
    opacity: .8;
    text-decoration: none
}

.mf-btn.btn-danger-ghost {
    background-color: transparent;
    border: solid 1px #d04e4e;
    color: #d04e4e;
    -webkit-transition: .3s;
    transition: .3s
}

.mf-btn.btn-danger-ghost:hover {
    background-color: #d04e4e;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-danger-ghost:focus {
    background-color: #d04e4e;
    color: #fff;
    text-decoration: none
}

.mf-btn.btn-danger-ghost:active {
    background-color: #d04e4e;
    color: #fff;
    text-decoration: none
}

.mf-btn-premium-invitee {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f18826), to(#e2750f));
    background-image: -webkit-linear-gradient(top, #f18826, #e2750f);
    background-image: linear-gradient(to bottom, #f18826, #e2750f);
    border: 0;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block
}

.mf-btn-premium-invitee.medium {
    font-size: 14px;
    padding: 10px 30px
}

.mf-btn-premium-invitee:hover {
    opacity: .8
}

.mf-btn-mfw-application-invitee {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f18826), to(#e2750f));
    background-image: -webkit-linear-gradient(top, #f18826, #e2750f);
    background-image: linear-gradient(to bottom, #f18826, #e2750f);
    font-weight: 800;
    border: 0;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block
}

.mf-btn-mfw-application-invitee.medium {
    font-size: 14px;
    padding: 10px 30px
}

.mf-btn-mfw-application-invitee:hover {
    opacity: .8
}

.mfid-sign-in {
    border-radius: 16px;
    background-color: transparent;
    border: solid 1px #fe9626;
    padding: 8px 20px;
    margin-top: 20px;
    width: 280px;
    color: #fe9626
}

.mf-list {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2)
}

.mf-list-item {
    background-color: #fff;
    border-bottom: 1px solid #c8c7cc
}

.mf-list-item.list-s {
    padding: 8px
}

.mf-list-item.list-m {
    padding: 12px
}

.mf-list-item.list-l {
    padding: 16px
}

.mf-list-item.clickable:hover {
    background-color: #f7f7f7;
    cursor: pointer;
    -webkit-tap-highlight-color: #f7f7f7;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@font-face {
    font-family: 'moneyforward-icon';
    src: url(/assets/fonts/moneyforward-icon-8be9ab1f2cd280f61a3b187ab1167111330709a332e85d47d84bc82a343aa0f8.ttf?o0dzif) format("truetype"),url(/assets/fonts/moneyforward-icon-3e5599320e89be411c794867897bb3118e5de4fef625114c02be5fa04eb9e370.woff?o0dzif) format("woff"),url(/assets/fonts/moneyforward-icon-08a0102e60e3e4786df627e6bc0af3a52e1f03bf3c30741a636edd2cfd9482e0.svg?o0dzif#moneyforward-icon) format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="mf-icon-"],[class*=" mf-icon-"] {
    font-family: 'moneyforward-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.mf-icon-account:before {
    content: "\e91a"
}

.mf-icon-asset:before {
    content: "\e91b"
}

.mf-icon-cog:before {
    content: "\e91c"
}

.mf-icon-home:before {
    content: "\e91d"
}

.mf-icon-horizontal-bar-chart:before {
    content: "\e91e"
}

.mf-icon-line-chart:before {
    content: "\e91f"
}

.mf-icon-pie-chart:before {
    content: "\e920"
}

.mf-icon-no1:before {
    content: "\e90c"
}

.mf-icon-no2:before {
    content: "\e90d"
}

.mf-icon-no3:before {
    content: "\e90e"
}

.mf-icon-no4:before {
    content: "\e90f"
}

.mf-icon-alert:before {
    content: "\e900"
}

.mf-icon-book:before {
    content: "\e901"
}

.mf-icon-car:before {
    content: "\e902"
}

.mf-icon-commodity:before {
    content: "\e903"
}

.mf-icon-down:before {
    content: "\e904"
}

.mf-icon-fashion:before {
    content: "\e905"
}

.mf-icon-food:before {
    content: "\e906"
}

.mf-icon-help:before {
    content: "\e907"
}

.mf-icon-hobby:before {
    content: "\e908"
}

.mf-icon-hospital:before {
    content: "\e909"
}

.mf-icon-housing:before {
    content: "\e90a"
}

.mf-icon-insurance:before {
    content: "\e90b"
}

.mf-icon-other:before {
    content: "\e910"
}

.mf-icon-right:before {
    content: "\e911"
}

.mf-icon-social:before {
    content: "\e912"
}

.mf-icon-special:before {
    content: "\e913"
}

.mf-icon-tax:before {
    content: "\e914"
}

.mf-icon-ticket:before {
    content: "\e915"
}

.mf-icon-transmission:before {
    content: "\e916"
}

.mf-icon-transportation:before {
    content: "\e917"
}

.mf-icon-up:before {
    content: "\e918"
}

.mf-icon-utility:before {
    content: "\e919"
}

.mf-generic-table th {
    text-align: center
}

.container-large:after {
    clear: both;
    content: '';
    display: table
}

.container-large .mf-col-custom-ad {
    margin: 40px 0 40px 30px
}

@media print {
    .container-large .mf-col-custom-ad {
        display: none
    }
}

@media print {
    .container-large #main-container {
        margin-left: 30px
    }
}

.container-large.with-ad #main-container {
    float: left;
    width: 870px
}

.campaign {
    clear: both
}

.campaign .banner {
    cursor: pointer
}

.campaign .title {
    display: block;
    margin: 0 auto
}

.campaign .modal {
    top: 30px;
    padding: 30px 50px
}

.campaign table {
    margin: 30px 0
}

.campaign table th {
    width: 100px;
    text-align: right;
    vertical-align: middle;
    background-color: #eee
}

.campaign table th,.campaign table td {
    padding: 15px
}

.campaign .message {
    text-align: center;
    margin: 15px 0
}

.campaign .campaign-btn {
    border: 1px solid #fe9626;
    color: #fe9626;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    display: block;
    width: 350px;
    height: 60px;
    border-radius: 4px;
    line-height: 60px
}

.campaign .campaign-btn.disabled {
    color: #ccc;
    border-color: #ccc;
    cursor: default
}

.campaign .campaign-btn.enabled:hover {
    text-decoration: none;
    color: #fff;
    background-color: #fe9626
}

.campaign .close-btn {
    text-align: center;
    color: #59f;
    margin-top: 10px;
    cursor: pointer
}

.mf-color-brand-orange {
    color: #e2750f
}

.mf-bgcolor-brand-orange {
    background-color: #e2750f
}

@media screen and (max-width: 767px) {
    html,body {
        width:100%
    }

    .row {
        width: 100%;
        margin-left: 0
    }

    .span16 {
        width: 100%;
        margin-left: 0
    }

    .container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px
    }
}

.home_controller {
    margin: 0 auto
}

.home_controller .confirmation-alert {
    margin: 15px 0 5px
}

.home_controller .confirmation-alert p {
    display: inline-block;
    font-size: 13px;
    color: #c9302c
}

.home_controller .container-large .mf-col-custom-ad {
    margin: 20px 0 0 30px
}

.home_controller .container-large.with-ad #main-container {
    width: auto
}

.home_controller #ad-header .ad-top-content-before-login {
    background-color: transparent
}

.home_controller #ad-header .ad-top-content-before-login .ad-top-content {
    margin: 0
}

.home_controller #account-pre-registrations:after {
    clear: both;
    content: '';
    display: table
}

.home_controller #account-pre-registrations .heading-normal {
    margin-top: 0
}

.home_controller .account-pre-registrations .account-pre-registration.hidden {
    display: none
}

.home_controller .account-pre-registrations .register,.home_controller .account-pre-registrations .remove {
    width: 70px;
    text-align: center
}

.home_controller .dropdown-toggle {
    box-sizing: content-box
}

.home_controller .btn-group {
    box-sizing: content-box
}

.home_controller .range-radio {
    width: 64px
}

.home_controller .recommended-solution {
    line-height: 25px;
    white-space: nowrap
}

.home_controller .recommended-solution .feature-link {
    text-decoration: underline
}

.home_controller .recommended-solution .solution-link {
    color: #000;
    text-decoration: underline
}

#home .home-col-assets {
    float: left;
    width: 226px
}

#home .accounts .title {
    font-size: 17px
}

#home .margin-zero {
    margin: 0
}

#home .more-link {
    float: right;
    margin-bottom: 20px
}

#home .more-link:after {
    clear: both;
    content: '';
    display: table
}

#home .account-misc {
    margin: 10px 0
}

#home .ib-links {
    margin: 10px 0
}

#home .edit-links {
    margin: 10px 0;
    text-align: right
}

#home .edit-links-not-display-none {
    text-align: right
}

#home .notify-not-aggregable {
    margin: 10px 0;
    color: #9B9B9B;
    font-size: 11px
}

#home .heading-accounts {
    margin-bottom: 5px;
    font-size: 115%;
    line-height: 130%
}

#home .heading-accounts .date {
    font-size: 12px;
    font-weight: normal
}

#home .heading-accounts .date-not-display-none {
    font-size: 12px;
    font-weight: normal
}

#home .accounts-list {
    clear: both
}

#home .accounts-list .account {
    padding: 10px 0
}

#home section#registered-accounts {
    word-wrap: break-word;
    margin-top: 20px
}

#home section#registered-accounts .border-bottom-dotted {
    border-bottom: 1px dotted #999;
    margin-bottom: 5px
}

#home section#registered-accounts .heading-category-name {
    margin: 10px 0 0 0
}

#home section#registered-accounts .regist-action {
    margin: 20px 0
}

#home section#registered-accounts .regist-action:after {
    clear: both;
    content: '';
    display: table
}

#home section#registered-accounts .regist-action .regist {
    display: inline-block;
    font-weight: bold;
    width: 84px
}

#home section#registered-accounts .regist-action .refresh {
    display: inline-block;
    margin-right: 5px;
    width: 84px
}

#home section#registered-accounts ul {
    list-style-type: none;
    margin-left: 0
}

#home section#registered-accounts ul .heading-small {
    margin: 15px 0 5px 0
}

#home section#registered-accounts ul .number {
    font-size: 125%;
    font-weight: bold;
    line-height: 180%
}

#home section#registered-accounts ul .website-links {
    font-size: small;
    color: #999
}

#home section#registered-accounts .regist-action .icon-refresh {
    width: 108px
}

#home section#registered-accounts .regist-action .regist {
    width: 108px
}

#home section#registered-manual-accounts .border-bottom-dotted {
    border-bottom: 1px dotted #999
}

#home section#registered-manual-accounts .heading-category-name {
    margin: 10px 0 0 0
}

#home section#registered-manual-accounts ul {
    list-style-type: none;
    margin-left: 0
}

#home section#registered-manual-accounts ul .heading-small {
    margin: 15px 0 5px 0
}

#home section#registered-manual-accounts ul .number {
    font-size: 125%;
    font-weight: bold;
    line-height: 180%
}

#home section#registered-manual-accounts ul .edit-links {
    margin: 10px 0
}

#home section#registered-manual-accounts ul .edit-links>i {
    margin-left: 5px
}

#home section#registered-manual-accounts ul .website-links {
    font-size: small;
    color: #999
}

#home .home-manualinput-cfinfo:after {
    clear: both;
    content: '';
    display: table
}

#home #cf-latest {
    width: 100%
}

#home section#cf-info .headline {
    clear: both
}

#home section#cf-info .heading-normal {
    margin-top: 10px
}

#home section#cf-info table th {
    background-color: #eee
}

#home section#assets-info .heading-normal {
    margin-top: 10px
}

#home section#assets-info .heading-small {
    margin: 8px 0 15px
}

#home section#assets-info .breakdown-list {
    float: right;
    width: 330px
}

@media (max-width: 1200px) and (min-width: 600px) {
    #home section#assets-info .breakdown-list {
        float:left;
        width: 100%
    }
}

#home section#assets-info .fluctuation-list {
    float: left;
    width: 260px
}

@media (max-width: 1200px) and (min-width: 600px) {
    #home section#assets-info .fluctuation-list {
        width:100%
    }
}

#home section#assets-info .number {
    font-size: 125%;
    font-weight: bold;
    line-height: 180%
}

#home section#assets-info table {
    margin-bottom: 0
}

#home section#assets-info table th {
    text-align: left;
    padding: 5px
}

#home section#assets-info table .assets-table-head {
    width: 60px
}

#home section#assets-info table td {
    text-align: right;
    padding: 5px
}

#home .mod-ku-user {
    margin-top: 20px
}

#home .no-service {
    padding-top: 15px
}

#home .no-service .heading-no-service {
    background: url(/assets/home/baloon_service_registration.png) no-repeat -3px 0;
    font-size: 14px;
    margin-bottom: 9px;
    padding: 14px 0 0 50px;
    color: #73777B;
    line-height: 1.3em;
    width: 234px;
    height: 75px
}

#home .no-service .regist-action {
    margin-bottom: 10px;
    text-align: center
}

#home .no-service .regist-action a {
    width: 130px;
    padding: 10px
}

#home .no-service .aggregation-merit {
    text-align: center
}

#home .no-service .tips {
    list-style: none;
    padding: 15px 0;
    margin-left: 15px
}

#home .input-date {
    margin-bottom: 5px
}

#home .control-group-left {
    margin-bottom: 10px
}

#home ul.amount li.balance a.restrict-premium-text {
    color: #999
}

#home section#user-info section.total-assets .total-assets-sample {
    margin: auto;
    height: 200px;
    width: 200px
}

#monthly_total_table_home {
    width: 100%;
    border: 1px #DDD solid;
    margin: 10px 0;
    font-size: 15px
}

#monthly_total_table_home .monthly-total-head {
    background-color: #FAF6F0;
    border: 1px solid #DDD;
    padding: 10px;
    text-align: left;
    width: 30%
}

#monthly_total_table_home td {
    border-bottom: none;
    border: 1px solid #DDD;
    padding: 10px;
    text-align: right
}

.mf-home-notice-alert-icon {
    color: #c9302c;
    font-size: 18px;
    vertical-align: middle
}

.mf-home-num-icon {
    color: #fe9626;
    font-size: 16px;
    vertical-align: middle
}

.privacy_policy_agreement_container {
    position: fixed;
    inset: 0;
    margin: 0 auto;
    top: 20%;
    width: 50%;
    height: 400px;
    max-width: 600px;
    min-width: 300px
}

@media (max-width: 1200px) and (min-width: 600px) {
    .privacy_policy_agreement_container {
        height:480px
    }
}

@media (max-width: 600px) {
    .privacy_policy_agreement_container {
        top:5%;
        height: 90%;
        max-height: 500px
    }

    .privacy_policy_agreement_container .modal-body {
        background-color: white;
        height: 80%
    }
}

.privacy_policy_agreement_container .modal-header p {
    font-weight: 700;
    font-size: 22.75px;
    line-height: 34px
}

.privacy_policy_agreement_container .modal-body {
    padding: 24px
}

.privacy_policy_agreement_container .modal-body p {
    font-size: 14px;
    line-height: 21px
}

.privacy_policy_agreement_container .modal-body .links_container {
    margin-top: 24px;
    text-align: center
}

.privacy_policy_agreement_container .modal-body .links_container p {
    margin-bottom: 16px
}

.privacy_policy_agreement_container .modal-body .button_container {
    margin: 24px auto 0;
    width: 142px
}

.privacy_policy_agreement_container .modal-body .button_container input {
    background: #EF7F1A;
    width: 142px;
    height: 44px;
    border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF
}
