<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/pages.css">
    <title>収支</title>
</head>

<body>
  <h3>収支</h3>
  <br><br><br>

    <!-- 家計簿/当月の収支 -->
    <h4>当月の収支</h4>
    <div id="monthly_total">
    <table cellpadding="10px" data-placement="right" id="monthly_total_table_home" title="当月の収支">
        <thead>
            <tr>
            {% for column in df_balances.columns %}
                <th>{{ column }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for _, row in df_balances.iterrows() %}
            <tr class="monthly_total">
            <th>{{ row[0] }}</th>
            {% for amount in row[1:] %}
                <td>{{ amount }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    <br>
</body>
</html>
