<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/pages.css">
    <title>収支</title>
</head>

<body>
    <!-- ヘッダタブ -->
    <div class="area">
        <input type="radio" name="tab_name" id="tab1" checked>
        <label class="tab_class" for="tab2"><a href="/">＊ホーム＊</a></label>

        <input type="radio" name="tab_name" id="tab2" >
        <label class="tab_class" for="tab2"><a href="/financial_accounts">＊金融機関＊</a></label>

        <input type="radio" name="tab_name" id="tab3" >
        <label class="tab_class" for="tab2"><a href="/balances">＊収支＊</a></label>

        <input type="radio" name="tab_name" id="tab4" >
        <label class="tab_class" for="tab2"><a href="/budgets">＊予算＊</a></label>
    </div>


    <!-- 家計簿/当月の収支 -->
    <h4>当月の収支</h4>
    <div id="monthly_total">
    <table cellpadding="10px" data-placement="right" id="monthly_total_table_home" title="当月の収支">
        <thead>
            <tr>
            {% for column in df_balances.columns %}
                <th>{{ column }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for _, row in df_balances.iterrows() %}
            <tr class="monthly_total">
            <th class="category">{{ row[0] }}</th>
            {% for amount in row[1:] %}
                <td>{{ amount }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    <br>
</body>
</html>
