<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/pages.css">
    <title>予算</title>
</head>

<body>
    <h3>予算</h3>
    <br><br><br>


    <!-- ホーム/当月の収支 -->
    <h4>当月の収支</h4>
    <div id="monthly_total">
    <table cellpadding="10px" data-placement="right" id="monthly_total_table_home" title="指定された期間の合計金額です（計算対象項目のみ集計しています）。">
        <tbody>
        <tr class="js-monthly_total">
        <th class="monthly-total-head">当月収入</th>
        <td>0円</td>
        </tr>
        <tr class="js-monthly_total">
        <th class="monthly-total-head">当月支出</th>
        <td>0円</td>
        </tr>
        <tr class="js-monthly_total">
        <th class="monthly-total-head">当月収支</th>
        <td class="minus-color">0円</td>
        </tr>
        </tbody>
        </table>
    </div>
    <br>






</body>
</html>

