<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/pages.css">
    <title>予算</title>
</head>

<body>
    <h3>予算</h3>
    <br><br><br>

    <!-- 予算 -->
    <h4>{{ period }}</h4>
    <div id="budgets">
    <table cellpadding="10px" data-placement="right" id="budgets_table_home" title="予算">
        <thead>
        <tr>
        {% for column in df_budgets.columns %}
            <th>{{ column }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for index, row in df_budgets.iterrows() %}
            <tr class="budgets">
            <th class="category">{{ row[0] }}</th>
            <td class="expense">{{ row[1] }}</td>
            <td class="budget">{{ row[2] }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    <br>
</body>
</html>

