<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/pages.css">
    <title>登録金融機関</title>
</head>

<body>
    <h3>登録金融機関</h3>
    <br><br><br>

    <!-- 登録金融機関 -->
    <h4>登録金融機関</h4>
    <div id="financial_accounts">
    <table cellpadding="10px" data-placement="right" id="financial_accounts_table_home" title="指定された期間の合計金額です（計算対象項目のみ集計しています）。">
        <thead>
            <tr>
            <th>金融機関名</th>
            <th>残高，利用額</th>
            <th>更新日時</th>
            </tr>
            </thead>
        <tbody>
        <tr class="js-financial-accounts">
        <th class="financial-accounts-head">JCBカード</th>
        <td>-90,080円</td>
        <td class="datetime">04/09 06:32</td>
        </tr>
        <tr class="js-financial-accounts">
        <th class="financial-accounts-head">au PAY</th>
        <td>0円</td>
        <td class="datetime">04/08 22:22</td>
        </tr>
        </tbody>
        </table>
    </div>
    <br>




</body>
</html>


