<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/pages.css">
    <title>登録金融機関</title>
</head>

<body>
    <h3>登録金融機関</h3>
    <br><br><br>

    <!-- 登録金融機関 -->
    <h4>登録金融機関</h4>
    <div id="financial_accounts">
    <table cellpadding="10px" data-placement="right" id="financial_accounts_table_home" title="登録金融期間">
        <thead>
            <tr>
            {% for column in df_accounts.columns %}
                <th>{{ column }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for index, row in df_accounts.iterrows() %}
            <tr class="financial-accounts">
            <th class="account">{{ row[0] }}</th>
            <td class="amount">{{ row[1] }}</td>
            <td class="datetime">{{ row[2] }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    <br>
</body>
</html>


