<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/pages.css">
    <title>ホーム</title>
</head>

<body>
    <h3>ホーム</h3>
    <br><br><br>
    <!-- ホーム/総資産 -->
    <h4>総資産</h4>
    <div id="total_assets">
    <table cellpadding="10px" data-placement="right" id="total_assets_table_home" title="指定された期間の合計金額です（計算対象項目のみ集計しています）。">
        <tbody>
        <tr class="js-total_assets">
        <th class="total_assets-head">総資産</th>
        <td>664円</td>
        </tr>
        </tbody>
        </table>
    </div>
    <br>


    <!-- ホーム/当月の収支 -->
    <h4>当月の収支</h4>
    <div id="monthly_total">
    <table cellpadding="10px" data-placement="right" id="monthly_total_table_home" title="指定された期間の合計金額です（計算対象項目のみ集計しています）。">
        <tbody>
        <tr class="js-monthly_total">
        <th class="monthly-total-head">当月収入</th>
        <td>0円</td>
        </tr>
        <tr class="js-monthly_total">
        <th class="monthly-total-head">当月支出</th>
        <td>0円</td>
        </tr>
        <tr class="js-monthly_total">
        <th class="monthly-total-head">当月収支</th>
        <td class="minus-color">0円</td>
        </tr>
        </tbody>
        </table>
    </div>
    <br>

    <!-- ホーム/最新の入出金 -->
    <h4>最新の入出金</h4>
    <div id="recent_transactions">
    <table cellpadding="10px" data-placement="right" id="recent_transactions_table_home" title="指定された期間の合計金額です（計算対象項目のみ集計しています）。">
        <thead>
        <tr>
        <th>取引日</th>
        <th>用途</th>
        <th>金額</th>
        </tr>
        </thead>
        <tbody>
        <tr class="js-recent_transactions">
        <td class="recent-transactions-head">2023/03/21</td>
        <td class="shop">セブン-イレブンKiosk今治駅店</td>
        <td class="amount">-108円</td>
        </tr>
        <tr class="js-recent_transactions">
        <td class="recent-transactions-head">2023/03/10</td>
        <td class="shop">FamiPayチャージ</td>
        <td class="amount">-3,000円</td>
        </tr>
        </tbody>
        </table>
    </div>
    <br>


    <!-- 登録金融機関 -->
    <h4>登録金融機関</h4>
    <div id="financial_accounts">
    <table cellpadding="10px" data-placement="right" id="financial_accounts_table_home" title="指定された期間の合計金額です（計算対象項目のみ集計しています）。">
        <thead>
            <tr>
            <th>金融機関名</th>
            <th>残高など</th>
            <th>更新日時</th>
            </tr>
        </thead>
        <tbody>
        <tr class="js-financial-accounts">
        <td class="financial-accounts-head">JCBカード</td>
        <td class="amount">-90,080円</td>
        <td class="datetime">04/09 06:32</td>
        </tr>
        <tr class="js-financial-accounts">
        <td class="financial-accounts-head">au PAY</td>
        <td class="amount">0円</td>
        <td class="datetime">04/08 22:22</td>
        </tr>
        </tbody>
        </table>
    </div>
    <br>


    <!-- 予算 -->
    <h4>予算</h4>
    <div id="financial_accounts">
    <table cellpadding="10px" data-placement="right" id="financial_accounts_table_home" title="指定された期間の合計金額です（計算対象項目のみ集計しています）。">
        <thead>
            <tr>
            <th>金融機関名</th>
            <th>残高など</th>
            <th>更新日時</th>
            </tr>
        </thead>
        <tbody>
        <tr class="js-financial-accounts">
        <td class="financial-accounts-head">JCBカード</td>
        <td class="amount">-90,080円</td>
        <td class="datetime">04/09 06:32</td>
        </tr>
        <tr class="js-financial-accounts">
        <td class="financial-accounts-head">au PAY</td>
        <td class="amount">0円</td>
        <td class="datetime">04/08 22:22</td>
        </tr>
        </tbody>
        </table>
    </div>
    <br>

</body>
</html>
