<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/pages.css">
    <title>ホーム</title>
</head>

<body>
    <!-- ヘッダタブ -->
    <div class="area">
        <input type="radio" name="tab_name" id="tab1" checked>
        <label class="tab_class" for="tab2"><a href="/">＊ホーム＊</a></label>

        <input type="radio" name="tab_name" id="tab2" >
        <label class="tab_class" for="tab2"><a href="/financial_accounts">＊金融機関＊</a></label>

        <input type="radio" name="tab_name" id="tab3" >
        <label class="tab_class" for="tab2"><a href="/balances">＊収支＊</a></label>

        <input type="radio" name="tab_name" id="tab4" >
        <label class="tab_class" for="tab2"><a href="/budgets">＊予算＊</a></label>
    </div>

    <!-- ホーム/総資産 -->
    <h4>総資産</h4>
    <div id="total_asset">
    <table cellpadding="10px" data-placement="right" id="total_asset_table_home" title="総資産">
        <tbody>
        <tr class="total_asset">
        <th>総資産</th>
        <td>{{total_asset}}</td>
        </tr>
        </tbody>
        </table>
    </div>
    <br>

    <!-- ホーム/収支合計 -->
    <h4>{{ balance_period }}</h4>
    <div id="total_balances">
    <table cellpadding="10px" data-placement="right" id="total_balances_table_home" title="収支合計">
        <tbody>
        {% for index, row in df_balances.iterrows() %}
        <tr class="total_balances">
        <th>{{ row[0] }}</th>
        <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    <br>

    <!-- ホーム/最新の入出金 -->
    <h4>最新の入出金</h4>
    <div id="recent_transactions">
    <table cellpadding="10px" data-placement="right" id="recent_transactions_table_home" title="最新の入出金">
        <thead>
        <tr>
        {% for column in df_recents.columns %}
            <th>{{ column }}</th>
        {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for _, row in df_recents.iterrows() %}
            <tr class="recent_transactions">
            <td class="date">{{ row[0] }}</td>
            <td class="shop">{{ row[1] }}</td>
            <td class="amount">{{ row[2] }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    <br>
</body>
</html>



